<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an experienced full-stack freelancer developer. I have completed many website projects in fields 
          such as CMS, Business Website, E-commerce website, Management Website, API Integration and more. 
          My passion is to create the best quality web applications for customers.</p>
      </div>
      <div class="col-lg-4">
        <p>The technologies that I often use at work: Programming languages: C#, ASP.NET, JavasCript, TypeScript, SQL. Frameworks: ReactJS, NextJS, Redux, Material UI, Tailwind CSS. Databases: SQL Server, MongoDB, PostgreSQL. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/hungnguyen1610/" class="btn btn-lg btn-outline">
          <i class="fa fa-address-book"></i> My Profile
        </a>
      </div>
    </div>
  </div>
</section>
